@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
}
div[class="dashboard-container"] {
  margin-top: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: "Raleway", sans-serif;
  div[class="tittle"] {
    text-align: center;
    background-color: #ededed;
    color: #293f54;
    height: 35px;
    padding: 1rem;
  }
  div[class="dashboard"] {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "dashboard-figures"
      "dashboard-statistique"
      "dashboard-graphs";
    div[class="dashboard-figures"] {
      grid-template-areas: "dashboard-figures";
    }
    div[class="dashboard-statistique"] {
    }
    div[class="dashboard-graphs"] {
    }
    @import "figuresM";
    @import "statistiquesM";
    @import "graphsM";
  }
}
