.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  .side-bar-container {
  }
  .dashboard-container {
  }
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "side-bar-container dashboard-container";
  @import "side-barLap";
  @import "dashboardLap";
}
