@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

div[class="side-bar-container"] {
  display: block;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 200px;
  background-color: #293f54;
  color: white;
  font-family: "Raleway", sans-serif;

  div[class="top-menu"] {
    padding-left: 5%;
    margin-bottom: 1rem;
    h2 {
      padding: 1rem 0 2rem 0;
    }
    div[class="welcome-menu"] {
      display: flex;
      flex-direction: row;
      span[class="profile-icon"] {
        margin-right: 5%;
        i {
          margin: 0;
          padding: 0;
        }
        p {
          margin: 0;
          padding: 0;
        }
      }
      span[class="welcome"] {
        margin-top: 10%;
        margin-left: 5%;
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  hr {
    margin-bottom: 1rem;
  }
  div[class="bottom-menu"] {
    padding-left: 5%;
    h3 {
      margin-top: 1rem;
      color: rgb(84, 117, 6);
    }
    span {
      a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: white;
        margin-top: 1rem;
        p {
          margin-top: 0;
          margin-left: 5%;
        }
      }
    }
  }
  div[class="side-bar-footer"] {
    height: 2rem;
    width: 95%;
    background-color: #09121a;
    padding: 5% 0 0 5%;
    //stick footer to the bottom
    position: absolute;
    bottom: 0px;

    a {
      text-decoration: none;
      color: gray;
      padding: 1rem;
    }
  }
}
