* {
  margin: 0;
  padding: 0;
}
div[class="dashboard-container"] {
  margin-top: 0;
  padding: 0;
  background-color: #f7f7f7;
  div[class="tittle"] {
    text-align: center;
    background-color: #ededed;
    height: 35px;
  }
  div[class="dashboard"] {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 12vh 33vh 45vh;
    grid-template-areas:
      "dashboard-figures"
      "dashboard-statistique"
      "dashboard-graphs";
    div[class="dashboard-figures"] {
      grid-template-areas: "dashboard-figures";
      border: 1px solid red;
    }
    div[class="dashboard-statistique"] {
      grid-template-areas: "dashboard-statistique";
      border: 1px solid blue;
    }
    div[class="dashboard-graphs"] {
      grid-template-areas: "dashboard-graphs";
      border: 1px solid green;
    }
    @import "figures.scss";
    @import "statistiques.scss";
  }
}
