@media screen and (min-width: 426px) {
  .container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto;
    grid-template-areas: "side-bar-container dashboard-container";
  }
  .container div[class=side-bar-container] {
    background-color: #293f54;
    color: white;
  }
  .container div[class=side-bar-container] div[class=top-menu] {
    padding-left: 5%;
    margin-bottom: 1rem;
  }
  .container div[class=side-bar-container] div[class=top-menu] h2 {
    padding: 1rem 0 2rem 0;
  }
  .container div[class=side-bar-container] div[class=top-menu] div[class=welcome-menu] {
    display: flex;
    flex-direction: row;
  }
  .container div[class=side-bar-container] div[class=top-menu] div[class=welcome-menu] span[class=profile-icon] {
    margin-right: 5%;
  }
  .container div[class=side-bar-container] div[class=top-menu] div[class=welcome-menu] span[class=profile-icon] i {
    margin: 0;
    padding: 0;
  }
  .container div[class=side-bar-container] div[class=top-menu] div[class=welcome-menu] span[class=profile-icon] p {
    margin: 0;
    padding: 0;
  }
  .container div[class=side-bar-container] div[class=top-menu] div[class=welcome-menu] span[class=welcome] {
    margin-top: 10%;
    margin-left: 5%;
  }
  .container div[class=side-bar-container] div[class=top-menu] div[class=welcome-menu] span[class=welcome] p {
    margin: 0;
    padding: 0;
  }
  .container div[class=side-bar-container] hr {
    margin-bottom: 1rem;
  }
  .container div[class=side-bar-container] div[class=bottom-menu] {
    padding-left: 5%;
  }
  .container div[class=side-bar-container] div[class=bottom-menu] h3 {
    margin-top: 1rem;
  }
  .container div[class=side-bar-container] div[class=bottom-menu] span a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    margin-top: 1rem;
  }
  .container div[class=side-bar-container] div[class=bottom-menu] span a p {
    margin-top: 0;
    margin-left: 5%;
  }
  .container div[class=side-bar-container] div[class=side-bar-footer] {
    height: 2rem;
    background-color: #09121a;
    padding: 5% 0 0 5%;
    margin-top: 6rem;
  }
  .container div[class=side-bar-container] div[class=side-bar-footer] a {
    text-decoration: none;
    color: gray;
    padding: 1rem;
  }
  .container * {
    margin: 0;
    padding: 0;
  }
  .container div[class=dashboard-container] {
    margin-top: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  .container div[class=dashboard-container] div[class=tittle] {
    text-align: center;
    background-color: #ededed;
    height: 35px;
  }
  .container div[class=dashboard-container] div[class=dashboard] {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15vh 30vh 45vh;
    grid-template-areas: "dashboard-figures" "dashboard-statistique" "dashboard-graphs";
  }
  .container div[class=dashboard-container] div[class=dashboard] div[class=dashboard-figures] {
    grid-template-areas: "dashboard-figures";
    border: 1px solid red;
  }
  .container div[class=dashboard-container] div[class=dashboard] div[class=dashboard-statistique] {
    grid-template-areas: "dashboard-statistique";
    border: 1px solid blue;
  }
  .container div[class=dashboard-container] div[class=dashboard] div[class=dashboard-graphs] {
    grid-template-areas: "dashboard-graphs";
    border: 1px solid green;
  }
}