div[class=dashboard-statistique] {
  background-color: red;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5vh 95vh;
  grid-template-areas: "network-activities" "statistique";
}
div[class=dashboard-statistique] div[class=network-activities] {
  grid-area: "network-activities";
  border: 1px solid black;
}
div[class=dashboard-statistique] div[statistique] {
  grid-area: "statistique";
}